<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    style 
      include about_style.css
</head>
<body>
    <nav >
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/apply">Free Trial</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </nav>
    <div class="container">
        <h1>ABOUT US</h1>
        <p>HINDUSTANI SINGING ACADEMY was established in 1922 by ustaad Gulam Ali Khan Shaheb. He was such a gem of our classical singing. When he started this singing classes he was not known that his classes, today will be the future career of india's youth.  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus excepturi nostrum labore enim? Dolor soluta fugit, possimus unde, pariatur quae cum amet expedita quis aliquid, facilis sint aut consectetur natus debitis suscipit rem aperiam ullam! Id, molestiae cupiditate! Laborum deserunt corrupti aliquid illum sed mollitia similique. Odio accusantium minima iure! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repudiandae illum molestiae labore sit quidem? if India's blessing will be work for us then indian classical' empire will be spread all over the world </p>
    </div>
</body>
</html>