<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
     link(rel='styelsheet', href='https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Changa:wght@300&family=Dongle&family=Fruktur&family=Saira+Condensed&family=Titillium+Web&family=Ubuntu:wght@300&family=Urbanist:wght@600&family=Yuji+Syuku&display=swap', type='text/css')


     style
      include explore_style.css
  
</head>
<body>
    <nav >
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/apply">Free Trial</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </nav>

    <section id="section1">
        <h2>Explore Academy</h2>
        <div id="container1">
            <p>Presenting India's biggest Singing Academy Hindustani Singing, Where you can learn singing from India's biggest Singers. And every week a free seminar with a celebrity, which will give you a huge  motivation. Our masters will hear you and corret you. </p>
            img(src='https://musicacademymadras.in/wp-content/uploads/2019/02/building.png' alt='login' style='width:999px; height:499px;')

        </div>
    </section>
    <section id="section2">
        <h2>Explore Gurus</h2>
        <div id="container2">
            img(src='https://static.toiimg.com/thumb/msid-80650764,imgsize-95361,width-800,height-600,resizemode-75/80650764.jpg' alt='login' style='width:1500px; height:780px;')
            <p>Our Acedemy has the best teaching facility Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio accusamus eaque dolor numquam blanditiis, quasi deleniti ad eum laudantium architecto aperiam at repudiandae soluta fugiat impedit tempora. Unde repellat beatae sunt. Veritatis deleniti facilis ratione beatae, quibusdam incidunt! Necessitatibus, rem deserunt. Veniam voluptatum ut voluptates ipsa voluptatem ab doloremque libero?</p>
        </div>
    </section>
    <section id="section3">
        <h2>Explore Acedemy's best Child singers</h2>
        <div id="container3">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas amet vero accusantium provident deleniti officia quod sapiente quasi incidunt officiis non, laudantium et. Perspiciatibus pariatur alias dolorum facilis. Et facere ab eveniet repellendus quae minus atque officiis aliquam?</p>
            img(src='https://www.socialvillage.in/attachments/resources/36498-1-Anmol-Jaswal-Indian-Idol-junior.png' alt='login' style='width:600px; height:600px;')  
            img(src='./singer.png' alt='login' style="width:300px; height:300px;")  
      
        </div>
    </section>
<footer>
    <h4>	&copy; Copyright Hindustani Singing 2013-14</h4>
</footer>
</body>
</html>