<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    style
      include style.css
</head>
<body>
    <nav >
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/apply">Free Trial</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </nav>

    <section>
        <div class="company">
            <h2>HINDUSTANI SINGING ACADEMY</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>LET YOUR JOURNEY BEGIN</h1>
            <p>Do you feel sad when you see your friend or relative was singing very well Don't worry We are here for you <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in just few steps you can learn singing as well as a masters. Just Contact us and you'll be a perfect singer 
            </p>
        </div>
        <div class="btn">
            <button>Call Us</button>
            <button>Sign Up</button>
        </div>
    </section>
</body>
</html>